.lista-carrito {
    background-color: rgb(4, 8, 61);
    color: rgb(255, 255, 255);
    border-radius: 10%;
    justify-self: center;
    padding:20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reto9 {
    width: fit-content;
}

.agregado{
    background-color: rgb(185, 185, 185);
    color: rgb(119, 119, 119);
    border-radius: 10%;
    width:fit-content;
    justify-self: center;
    padding:20px;
    margin: 10px;
}

.agregado button {
    background-color:rgb(119, 119, 119); ;
}

.agregar{
    background-color: rgb(255, 255, 255);
    color: rgb(17, 17, 17);
    border-radius: 10%;
    width:fit-content;
    justify-self: center;
    padding:20px;
    margin: 10px;
}

.cuenta button {
    margin:10px;
}
.cuenta{
    display: flex;
    margin:10px;
}